<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TechnicalTestEntities" connectionString="metadata=res://*/Modelo.Modelo.csdl|res://*/Modelo.Modelo.ssdl|res://*/Modelo.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:prodigious.database.windows.net;initial catalog=prodigious;user id=candidate;password=kFtSmCC&amp;cwA#eN9#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>